<div class='add-nap'>
	<div class="field">
  	<input type="datetime" name="start_time">
	</div>

	<div class="field">
	  <input type="datetime" name="end_time">
	</div>

	<div class="field">
	  <input type="text" name="description">
	</div>

	<button type="button" class="create btn btn-success btn-xs"> Create </button>
	<button type="button" class="cancel btn btn-warning btn-xs"> Cancel </button>
</div>



  