<div class="bg-success">
	{{start_time}} 
	{{end_time}} 
	{{discription}}
</div>

<button class='delete btn btn-danger btn-xs'> DELETE </button>
<button class='edit btn btn-primary btn-xs'> EDIT </button>
