<h1>Welcome to Eli's Tracker</h1>
<h4>You will never hear NOTHING again from your childcare providers</h4>
<% image_tag "day_care.jpg" %>
<% image_tag "kid_pic.jpg" %>

<div><%= image_tag "kinder_garten.jpg", :class => "img-circle" %></div>
