<div>
	<h1>Welcome to Eli's Tracker</h1>
	<h4>Never be in the dark about your child’s activities at daycare again</h4>
</div><br><br>
<div class='center'><%= image_tag "eli-art.jpg", :class => "art-image"%></div>
<div class='text'>
	After signing up / logging in, baby sitters can create a list of babies they are taking care.<br><br> In each baby's record, sitters can create days and record all activities.<br><br> After each day, one sumary of the day is composed and ready to be sent to the parents of each baby by one click. 
</div>

<!-- , :class => "img-circle" -->