<html>
<head>
	<title>Daily Report</title>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
	<h4>Thank you for using elis-tracker.herokuapp.com, <%= @day.baby.parent_name %></h4>

	<%= render 'days/summary' %>
</body>
</html>
